div{
    height: 100px;
    background-color: cadetblue;
    width: 130px;
    border:5px pink dashed;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
h1{
    background-color: rgb(138, 43, 226);
    height: 50px;
    width: 150px;
    border: 6px red solid;
    text-transform: capitalize;
    padding:10px;
}
button{
    display: block;
    margin-top: 50px; 
    display: block;
}